<div class="container">
  <%= simple_form_for [@project, @question] do |f| %>
    <%= f.input :title, label: "Question" %>
    <%= f.input :first_answer, as: :text, label: "Reponse A" %>
    <%= f.input :second_answer, as: :text, label: "Reponse B" %>
    <%= f.button :submit, "Valider", class: "btn-blue" %>
 <% end %>
</div>
