<div class="container">
  <%= simple_form_for @project do |f| %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :description, as: :text %>
    <%= f.input :address, as: :string %>
    <%= f.input :photo, as: :file, id: 'form-photo' %>
    <%= f.label :progress %> 
    <%= f.select(:progress, [['Phase de sondage', 1], ['Travaux en cours',2]], {include_blank: "Etat du project"}, { class: 'form-control' }) %>
    <%= f.button :submit, "Valider", class: "btn-blue" %>
 <% end %>
</div>
