<%= render 'shared/navbar' %>
<div class="indexadmin" style="text-align: center; padding: 15px;">
  <h3>Liste des projets</h3>
</div>
<div class="index-container">
  <div class="all-projects" style="text-align: -webkit-center;">
    <% @projects.each do |project| %>
      <div class="card bg-white text-white" style="width: 18rem; margin-bottom: 15px; margin-top: 10px;">
        <%= link_to project_path(project.id) do %>
          <%= cl_image_tag project.photo.key, style: "object-fit: cover;", width: 286, height: 180 %>
        <% end %>
        <div class="card-img-overlay">
          <%= link_to project_path(project.id) do %>
            <h5 class="card-title" style="color: white; text-decoration: none"><%= project.title %></h5>
            <p class="card-text" style="color: white; text-decoration: none"><%= project.description %></p>
          <% end %>
        </div>
        <div class="card-footer" style="display: flex;justify-content: space-evenly;">
          <%= link_to "Modifier", edit_project_path(project), class: "text-warning" %>
          <%= link_to "Supprimer", project, method: "delete", class: "text-danger", data: {confirm: "Supprimer ce projet ?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
