<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_product_title"]}" %>
<% content_for :meta_description, @project.description %>
<% content_for :meta_image, cl_image_path(@project.photo.key) %>


<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" style="margin-top: 25px">
    <div class="col-xs-4 col-md-6">
        <div class="thumbnail-container">
          <%= cl_image_tag @project.photo.key, width: 400 %>
        </div>
    </div>
    <div class="col-xs-8 col-md-6">
      <div class="details">
        <h1><%= @project.title %></h1>
        <p class="description"><%= @project.description %></p>
        <div class="boutons">
          <div class="column" id="wishlist-container">
            <button class="question-button">
              <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
                <a style="text-decoration: none;" href="<%= new_project_question_path(@project) %>"><span>AJOUTER UNE QUESTION</span></a>
            </button>
            <button class="modif-button">
              <span class="icon is-small">
                  <i class="far fa-edit"></i>
                </span>
                <a style="text-decoration: none;" href="<%= edit_project_path(@project) %>"><span>MODIFIER</span></a>
            </button>
          </div>
          <div class="column" id="buy-container">
            <%= link_to @project, method: "delete", class: "text-danger", data: {confirm: "Supprimer ce projet ?"} do %>
              <button class="button delete-button">
                <span class="icon is-small">
                  <i class="far fa-trash-alt"></i>
                </span>
                <span>SUPPRIMER</span>
              </button>
            <% end %>
          </div>
        </div>
        <div class="questions border">
          <% @questions.each_with_index do |question, index| %>
            <h4>Question <%= index + 1 %></h4>
            <%= question.title %>
            <div>
              <p style="margin: inherit">> <%= question.first_answer %></p>
              <p>Nombre de votes :<%= question.feedbacks.where(answer: question.first_answer).count %></p>
            </div>
            <div>
              <p style="margin: inherit">> <%= question.second_answer %></p>
              <p>Nombre de votes :<%= question.feedbacks.where(answer: question.second_answer).count %></p>
            </div>
            <%= link_to "Supprimer", question, method: "delete", class: "text-danger", data: {confirm: "Supprimer cette question ?"} %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

