<div class="user-container">
  <div class="all-projects" style="text-align: -webkit-center;">
    <% @projects.each do |project| %>
      <div class="card" style="width: 18rem; margin-bottom: 15px; margin-top: 10px;">
        <%= link_to users_project_path(project.id) do %>
          <div class="card-image-top">
          <% if project&.photo&.key %>
            <%= cl_image_tag project.photo.key, class: "image-card", width: 286, height: 180 %>
          <% else %>
            <h2>ERROR</h2>
          <% end %>
          </div>
        <% end %>
        <div class="card-body">
          <%= link_to users_project_path(project.id) do %>
            <h5 class="card-title" style="text-decoration: none"><%= project.title %></h5>
            <p class="card-text" style="text-decoration: none"><%= project.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
