<%= render 'shared/navbar' %>
<div id="user" class="d-none" data-user='<%= @user %>'></div>
<div id="all-projects">
  <% @projects.each do |project| %>
    <%# Ne pas modifier la ligne 6 !!! %>
    <div class="card d-none" data-lon="<%= project.longitude %>" data-lat="<%= project.latitude %>" data-progress="<%= project.progress %>" style="width: 18rem; margin-bottom: 15px; margin-top: 10px;">
      <div class="card-body">
        <%= link_to users_project_path(project.id), class:"project-show" do %>
          <h5 style="text-decoration: none"><%= project.title %></h5>
          <p class="card-text" style="text-decoration: none"><%= project.description %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/map' %>
<button id="buttonModal" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#projectModal"></button>
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content rounded">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
