<div id="user" class="d-none" data-user='<%= @user %>'></div>
<div id="all-projects">
  <% @projects.each do |project| %>
    <div class="card d-none" data-lon="<%= project.longitude %>" data-lat="<%= project.latitude %>" data-progress="<%= project.progress %>" style="width: 18rem; margin-bottom: 15px; margin-top: 10px;">
      <div class="card-body">
        <%= link_to users_project_path(project.id) do %>
          <h5 class="card-title" style="text-decoration: none"><%= project.title %></h5>
          <p class="card-text" style="text-decoration: none"><%= project.description %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/map' %>
