<!DOCTYPE html>
<html>
  <head>
    <title>MyCityView</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<<<<<<< HEAD
    <%= favicon_link_tag asset_path('favicon.png') %>
=======
    <%= favicon_link_tag asset_path('logo_transparent.png') %>
>>>>>>> 8d3387d7c2a61acc3ac7ff2e6ecec5c9293f10bd
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
